<h2 style="text-align: center; color: #007bff; margin-bottom: 20px;">{{ title }}</h2>

<nav class="navbar" style="background-color: #f8f9fa; padding: 10px;">
  <a routerLink="/rooms" style="text-decoration: none; color: #007bff; padding: 5px 10px; margin-right: 10px; border-radius: 5px;">Room Lists</a>
  <a routerLink="/booking" style="text-decoration: none; color: #007bff; padding: 5px 10px; margin-right: 10px; border-radius: 5px;">Booking List</a>
  <a routerLink="/book-room" style="text-decoration: none; color: #007bff; padding: 5px 10px; margin-right: 10px; border-radius: 5px;">Book a Room</a>
</nav>

<div style="margin-top: 20px;">
  <router-outlet></router-outlet>
</div>
