<div class="main4">

    <div class="text4">
        <h2>Code with GitHub</h2>
        <h2>Copilot</h2>
        <div class="para4">
            <div>
                <p>Write code faster and smarter with GitHub Copilot, your AI pair programmer.<br> <a href="#">Try
                        GitHub Copilot free for 30 days</a></p>
            </div>


            <div class="mrgntop">

                <p><a href="#">Completions </a>present suggestions automatically to help you code more efficiently.</p>
            </div>

            <div class="mrgntop">
                <p><a href="#"> Copilot Chat</a> understands the context of your code, workspace, extensions, settings,
                    and more.</p>
            </div>

            <div class="mrgntop">
                <p><a href="#"> Inline Chat</a> enables you to iteratively generate edits and get answers to quick
                    questions, directly on your code.</p>
            </div>
        </div>
    </div>
    <div class="img4">
        <img src="https://code.visualstudio.com/assets/home/swimlane-copilot-light.png" alt="" class="image4">

    </div>

</div>