.heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .error {
    margin-top: 5px;
    color: red;
  }
  
  .form-control {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .mt-4 {
     margin-top: 4px; 
  }
  