<div class="main-container6">
    <div class="heading">
        <h2>Code with rich features</h2>
        <p>There's a lot more to an editor. Whether it's using built-in features or rich extensions, there's something for everyone.</p>
    </div>

    <div class="boxes6">
        <div class="firstrow">
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-terminal.svg" alt="">
                <h6 class="head">Integrated terminal</h6>
                <p>Use your favorite shell whether it's zsh, pwsh, or git bash, all inside the editor.</p>
            </div>
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-debug.svg" alt="">
                <h6 class="head">Run Code</h6>
                <p>Run and debug your code without leaving your editor.

                </p>
            </div>
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-version-control.svg" alt="">
                <h6 class="head">Version Control</h6>
                <p>Built-in support for git and many other source control providers.</p>
            </div>
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-build-tasks.svg" alt="">
                <h6 class="head">Build Tasks</h6>
                <p>Run tools and analyze their results from within VS Code.</p>
            </div>
        </div>
        <div class="secondrow">
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-local-history.svg" alt="">
                <h6 class="head">Local History</h6>
                <p>Never lose your changes with automatically tracked local history.</p>
            </div>
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-themes.svg" alt="">
                <h6 class="head">Themes</h6>
                <p>Your theme is an extension of your personality. Add some flair to your editor and add your touch.</p>
            </div>
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-accessibility.svg" alt="">
                <h6 class="head">Accessibility</h6>
                <p>Optimized experience for screen readers, high contrast themes, and keyboard-only navigation.</p>
            </div>
            <div class="alignment">
                <img class="image" src="https://code.visualstudio.com/assets/icons/codicon-web.svg" alt="">
                <h6 class="head">Web Support</h6>
                <p>Whether you are on your phone, tablet, or desktop, you can access your code from anywhere.</p>
            </div>

        </div>


    </div>

</div>