<div class="main">
    <div class="text">
        <h2>Code in any language</h2>
        <p class="para3">VS Code supports almost every major programming language. Several ship in the box, like JavaScript, TypeScript, CSS, and HTML, but extensions for others can be found in the VS Code Marketplace.</p>
    </div>
    <div class="list">
        <div class="list1">
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-js.png" alt="">
                <p>JavaScript</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-cs.png" alt="">
                <p>C#</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-java.png" alt="">
                <p>Java</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-markdown.png" alt="">
                <p>Markdown</p>
            </div>
        </div>
        <div class="list2">
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-ts.png" alt="">
                <p>TypeScript</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-cpp.png" alt="">
                <p>C++</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-json.png" alt="">
                <p>JSON</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-powershell.png" alt="">
                <p>PowerShell</p>
            </div>
        </div>
        <div class="list3">
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-python.png" alt="">
                <p>Python</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-html.png" alt="">
                <p>HTML</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-php.png" alt="">
                <p>PHP</p>
            </div>
            <div class="align-div">
                <img class="img1" src="https://code.visualstudio.com/assets/home/language-yaml.png" alt="">
                <p>YAML</p>
            </div>
        </div>
    </div>
</div>
