<div class="container mt-5">
    <!-- Container for the cart -->
    <h2 class="text-center mb-4 text-primary">Your Cart</h2>
    <ul class="list-group shadow-sm">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let book of cart" appHighlight>
        <div>
          <h5 class="mb-1">{{ book.title }}</h5>
          <p class="mb-0 text-muted">by {{ book.author }}</p>
        </div>
        <button (click)="delete(book)" class="btn btn-danger btn-sm">Remove</button>

      </li>
    </ul>
  </div>
  