<div class="main-container">
    <div class="images">
        <div class="first">
            <img class="sizefix" src="https://code.visualstudio.com/assets/icons/x-icon.svg" alt="">
            <img class="sizefix" src="https://code.visualstudio.com/assets/icons/github-icon.svg" alt="">
            <img class="sizefix" src="https://code.visualstudio.com/assets/icons/youtube-icon.svg" alt="">
        </div>

        <div class="second">
            <img class="sizefix2" src="https://code.visualstudio.com/assets/icons/microsoft.svg" alt="">
        </div>

    </div>

    <div class="text">
<p class="sizing">Support </p>
<p class="sizing">Privacy</p>
<p class="sizing"> Terms of Use</p>
<p class="sizing"> License</p>

    </div>

</div>