<div class="main-container">

    <div class="main4">

        <div class="text4">
            <h2>Code fully customized</h2>
       
            <div class="para4">
                <div>
                    <p>Customize your VS Code UI and layout so that it fits your coding style.
                         </p>
                </div>
    
    
                <div class="mrgntop">
    
                    <p><a href="#">Color themes</a> let you modify the colors in VS Code's user interface to suit your preferences and work environment.</p>
                </div>
    
                <div class="mrgntop">
                    <p><a href="#">Settings Sync</a> enables you to share your user settings across your VS Code instances with the Settings Sync feature.
                        </p>
                </div>
    
                <div class="mrgntop">
                    <p><a href="#">Profiles</a> let you create sets of customizations and quickly switch between them or share them with others.</p>
                </div>
            </div>
        </div>
        <div class="img4">
            <img src="https://code.visualstudio.com/assets/home/swimlane-customized-light.png" alt="" class="image4">
    
        </div>
    
    </div>




<div class="main4">

    <div class="text4">
        <h2>Code anywhere</h2>
   
        <div class="para4">
            <div>
                <p>Code wherever you're most productive, whether you're connected to the cloud, a remote repository, or in the browser with VS Code for the Web (vscode.dev).
                     </p>
            </div>


            <div class="mrgntop">

                <p><a href="#">Built-in Source Control</a>  empowers you with Git support out-of-the-box. Many other source control providers are available through extensions.</p>
            </div>

            <div class="mrgntop">
                <p><a href="#">GitHub Codespaces </a> provides cloud-powered development environments for any activity - whether it's a long-term project, or a short-term task like reviewing a pull request.
                    </p>
            </div>

         
        </div>
    </div>
    <div class="img4">
        <img src="https://code.visualstudio.com/assets/home/swimlane-anywhere-light.png" alt="" class="image4">

    </div>

</div>




</div>