
body, html {

    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
    opacity: 0.5; 
  }
  

  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #004080; 
  }
  
  .navbar .navbar-brand {
    margin-right: auto;
    margin-left: auto;
  }
  
  .navbar .btn {
    color: white;
  }
  

  .full-height {
    height: 100%;
  }
  
  .container {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.9); 
    backdrop-filter: blur(5px);
    border-radius: 10px;
margin-top: 80px;
width: 40%;
  }

.mynav{
  display: flex;
  justify-content: space-between;

}

  .card[_ngcontent-ng-c1358398610] {
    background: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin-top: 80px;
    width: 1600px;
}

.navbar[_ngcontent-ng-c1358398610] .navbar-brand[_ngcontent-ng-c1358398610] {
  margin-right: 600px;
  margin-left: auto;
}

.card[_ngcontent-ng-c1902588600] {
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-top: 80px;
  width: 100%;
}

.card[_ngcontent-ng-c94741079] {
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-top: 80px;
  width: 100%;
}