.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
}
#one{
    width: 20%;
    background-color: aqua;
}
#two{
    width: 60%;
    background-color: blue;
}
#three{
    width: 20%;
    background-color: brown;
}
header{
    background-color: pink;
}
footer{
    background-color: chartreuse;
}